@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Oxygen';

* {
    margin:0;
    padding:0;    
}
/*---------------Estilos de la pagina inicio---------------*/

   #login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(94, 94, 94, 0.40);
    color:white;
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(94, 94, 94, 0.40);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 3.5em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

 hgroup {
    background-color:rgba(0,0,0,0.4) !important; 
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../img/brahman.jpg);   
}
.fade-carousel .slides .slide-2 {
  background-image: url(../img/f.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../img/f1.jpg);
}

@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 2em; }    
}
/*---------------Estilos del cargar---------------*/

.preload {
    width: 100%;
    height: 100%;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.log {
    width: 300px;
    height: 70px;
    margin: 150px auto 50px auto;
    font-size: 50px;
    text-shadow: -1px 2px 2px #000;
    text-align: center;
    color: azure;
}
.loader-frame {
    width: 70px;
    height: 70px;
    margin: auto;
    position: relative;
}
.loader1,
.loader2,
.loader {
    position: absolute;
    border: 5px solid transparent;
    border-radius: 50%;
}
.loader1 {
    width: 70px;
    height: 70px;
    border-top: 5px solid azure;
    border-bottom: 5px solid azure;
    animation: clockwisespin 2s linear 3;
}
.loader2 {
    width: 60px;
    height: 60px;
    border-left: 5px solid darkturquoise;
    border-right: 5px solid darkturquoise;
    top: 5px;
    left: 5px;
    animation: anticlockwisespin 2s linear 3;
}
@keyframes clockwisespin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes anticlockwisespin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/*---------------Estilos de inicio de sesion---------------*/

.inicio-sesion {
    background-image: url(../img/brahman.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall {
    margin-top: 50px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title {
    margin-top: 0px;
    margin-bottom: 30px;
    color: black;
    font-size: 24px;
    font-weight: 400;
    display: block;
}
.profile-img {
    width: auto;
    height: 96px;
    margin: 0 auto 15px;
    display: block;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    border-radius: 10%;
}
.need-help {
    margin-top: 10px;
}
.new-account {
    color: black;
    display: block;
    margin-top: 20px;
}
.ir {
    color: white;
}
/*---------------Estilos de contactenos---------------*/

.contacto {
    background-image: url(../img/brahman.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}
.cont {
    margin-top: 20px !important;
}
.col-centered {
    float: none;
    margin: auto;
    padding-top: 15px;
}
.panel-contacto {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    width: auto;
    margin-top: 30px !important;
}
/*---------------Estilos de la pagina registrarse---------------*/

.registrarse {
    background-image: url(../img/brahman.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;    
}

.main {
    margin-top: 50px;
}
h1.title {
    margin-top: 0px;
    margin-bottom: 30px;
    color: black;
    font-size: 24px;
    font-weight: 400;
    display: block;
    text-align: center;
}
.form-group {
    margin-bottom: 10px !important;
}
label {
    margin-bottom: 15px;
}
input,
input::-webkit-input-placeholder {
    padding-top: 3px;
}
.main-login {
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.main-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;
}
.login-button {
    margin-top: 5px;
}
/*---------------Estilos Configuracion---------------*/

.panelC {
    background: #f4f4f4;
}
.panelC > h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px !important;
}

#header-pc {
    margin-top: 51px;
    background: #282828;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
#header-pc .crear {
    padding-top: 20px;
}
.color-principal,
.panel-default > .panel-heading {
    background-color: darkslategray!important;
    border-color: darkslategray !important;
    color: white !important;
}
.barra-progreso {
    background: gray;
    color: white;
    text-align: center;
}
#footer {
    background: #282828;
    color: white;
    text-align: center;
    padding: 14px;
    margin-top: 91px;
}
/*---------------Estilos de los Historiales---------------*/

.historiales {
    background-image: url(../img/informe.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: 'Oxygen', sans-serif;
}
.barra-busqueda {
    margin-top: 100px;
}
.table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}
.table {
    background: #f9f9f9;
}
.table>tbody>tr>td,
.table>thead>tr>th {
    padding: 6px;
    border-top: 1px solid #ddd;
    text-align: left;
    vertical-align: middle;
}
.titulo-hist {
    font-size: 18px;
    margin-top: 90px;
}
/*---------------Estilo de los registros---------------*/

.registros {
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin-top: 100px;
}
.panel-heading {
    background-color: darkslategray !important;
    border-color: darkslategray !important;
    color: white;
    text-align: center;
    height: 45px;
}
.titulo-registros {
    color: white;
    text-align: center;
    margin-top: auto;
}
.registro {
    margin-top: 35px;
}
.btn-reg {
    background-color: darkslategray !important;
}
.registro {
    border-color: darkslategray !important;
}
/*---------------Estilo de la pagina principal---------------*/
.principal {
    background-image: url(../img/f.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
}
.sidebar3 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 0px;
    background: rgba(0, 0, 0, 0.7);
    width: 300px;
    height: auto;
}
.logo {
    margin-right: 50px;
    float: center;
}
.logo > img {
    border: 1px;
    border-radius: 50%;
    margin: auto;
}
.name {
    margin-top: 40px;
    margin-right: 50px;
    float: center;
    clear: center;
    padding: 0px;
    height: auto;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}
i {
    display: inline-block;
    margin-right: 1em;
}
.menup {
    margin-top: 5px;
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid #848FD8;
}
ul {
    padding-left: 0px;
}
.list {
    padding-left: 20px;
}
.dropdown {
    margin-left: -15px;
}
.submenu > li {
    display: list-item;
    list-style-type: circle;
}
.submenu {
    padding-left: 12px;
}
.submenu > li > a {
    color: white;
    text-decoration: none;
}
.category::before,
.category::after,
.submenu::after {
    content: " ";
    white-space: pre;
}
i.fa.fa-circle-thin {
    color: #00ff74;
}
.menup > a {
    color: white;
    text-decoration: none;
}
li:hover {
    
    cursor: pointer;
}
.main-content {
    margin-top: -200px !important;
    text-align: right;
    font-size: 28px;
}
.main-content > p > a {
    color: white;
}


/*---------------Estilo del modal---------------*/

.modal-header {
    background-color: #333;
    color: #fff;
}

#imgTest {
   border-radius: 50%;
    margin: auto;
    width: 20%;
    height: 15%;
}
/*--------------------*/
.eventos{
    background-image: url(../img/Eventos.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.plus {
    background-image: url(../img/pasto.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
}

legend {
    color: white;
}


#cambiarPass, #parametros, #crearEventos {
    margin-top: 80px;
    background-color:rgba(0,0,0,0.4) !important;
      
}

.footer-bottom {
    background-color: #333;
    min-height: 30px;
    width: 100%;
    text-align: center;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
